# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistemas operativos
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.*

# Pytest / cobertura
.pytest_cache/
.coverage
htmlcov/
